#wp_task_manager {
    .app-title {
        color: coral;
        font-size: 30px;
    }
    .taskForm{
        border: 1px solid #eee;
        padding: 20px;
        max-width: 520px;
    }
    select#taskStatus {
        max-width: 180px;
    }
} 